<ion-header>
  <ion-navbar color="secondary">
    <ion-title>
      <img src = "assets/images/logo.png" />
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addChecklist()"><ion-icon name="add-circle"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-lines>

    <ion-item-sliding *ngFor="let checklist of checklists">

      <button ion-item (click)="viewChecklist(checklist)" class="home-item">
          {{checklist.title}}
          <span class="secondary-detail">{{checklist.items.length}} items</span>
      </button>

      <ion-item-options>
        <button ion-button icon-only color="light" (click)="renameChecklist(checklist)"><ion-icon name="clipboard"></ion-icon></button>
        <button ion-button icon-only color="danger" (click)="removeChecklist(checklist)"><ion-icon name="trash"></ion-icon></button>
      </ion-item-options>
      
    </ion-item-sliding>

  </ion-list>
</ion-content>

<!--
=========Essas informações são do código que está dentro do ion-header =============  
TAg <ion-header> E a parte de todo o cabeçalho do app
A Tag <ion-navbar> nos permite adicionar uma barra de cabeçalho para o topo do nosso aplicativo que pode conter botões,
Títulos e até mesmo se integra diretamente com o sistema de navegação do Ionic para exibir um botão de volta quando necessário.

Adicionamos o atributo de cor para o navbar com a nossa cor secundária, que é definida nas
Variable.scss. Dentro deste navbar nós usamos 

A tag <ion-title>, que é tipicamente usado para exibir um título de texto
Para a página atual, para exibir nosso logotipo. 

e a tag <ion-buttons> para criar um botão na barra de navegação.

Ao especificar o atributo [end], os botões serão colocados no lado direito do iOS.

Finalmente temos o botão próprio dentro de <íon-botões>. Este botão usa um ícone de círculo e tem um clique
Manipulador anexado a ele, que chamará a função addChecklist() em nosso arquivo home.ts (Essa função será codificada lá). 
Observe também que usamos os atributos [ion-button e icon-only] somente nos botões. Isso permite que o Ionic saiba que queremos adicionar o estilo a este botão, e que ele deve 
ter o estilo de um botão com apenas um ícone e nenhum texto.
-->
<!-- 
=========Essas informações são do código que está dentro do ion-content ============= 
Tag <ion-content> O conteúdo principal para a página e na maioria dos casos tudo, exceto o navbar será dentro dessa tag, é como se fosse a tag body do html.

Tag <ion-list> Essa tag criar uma lista de itens. Veja que Adicionamos um atributo segundario na nossa, [no-lines] esse atributo tbm é de estilo, quando usamos ele
pedimos que a lista seja exibida sem bordas.

Na tag <ion-sliding-item> é onde temos o efeito deslizante, você pressiona o dedo e puxa para o lado, então tudo que estive dentro dessa tag será exibido.
Dentro da tag <ion-sliding-item> temos a tag <ion-item-options> É onde devemos coloca os itens que desejamos, no caso vai ter dois botões um de deletar e outro para editae

    ==================Corrigi essa é a ultima explicação, continua na página 151
O primeiro bloco de código dentro de <ion-sliding-item> é a definição normal de <íon-item>, mas em vez de usar <íon-item> estamos usando <button ion-item> que é realmente um botão com o Estilo de um item. Visualmente, esses dois métodos são exatamente os mesmos, mas no celular tudo o que não é um elemento <button> ou <a> que tenha um manipulador de clique terá um ligeiro retardo de toque. Não queremos ter esse atraso, então usamos o botão em vez disso.

O manipulador de cliques que anexamos ao botão chama uma função viewChecklist, mas também passa em um parâmetro
Lista de verificação. Ainda não definimos o que é isso, mas eventualmente estaremos criando um grupo desses
Itens de uma matriz de dados, e vamos criar uma referência para cada item individual que podemos passar para
Esta função. Então, eventualmente, a lista de verificação que estamos passando aqui será uma referência ao item específico
Que foi clicado (vamos discutir exatamente como fazemos isso mais tarde).

Finalmente, temos o segundo bloco de código, <íon-item-opções>, que simplesmente nos permite definir o que
Conteúdo que queremos exibir quando o usuário desliza o item. Neste caso, estamos apenas adicionando 'Editar' e 'Excluir'
Botões que também passarão em uma referência à lista de verificação em que foi chamado (novamente, teremos que criar
Esta referência mais tarde, por agora só vai causar problemas).
Isso é tudo que há para a home page, então vamos passar para a página da lista de verificação agora.
===============---=======--====--====--=========---====---====---===---==========
Explicações do ngFor

Estamos fazendo algumas coisas interessantes aqui agora, mais notavelmente, 
nós adicionamos um loop ngFor:

<ion-item-sliding *ngFor="let checklist of checklists">
-->